<main class="login-form" style="margin-top: 13%; margin-bottom: 13%;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center"><h3>Create user</h3></div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()" #userFrom="ngForm">
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                                <div class="col-md-6">
                                    <input name="name" type="text" id="name" class="form-control" autofocus
                                           required
                                           [(ngModel)]="user.name"
                                           #name="ngModel">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">E-mail</label>
                                <div class="col-md-6">
                                    <input name="email" type="text" id="email" class="form-control" autofocus
                                           required
                                           [(ngModel)]="user.email"
                                           #name="ngModel">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input name="password" type="text" id="password" class="form-control" autofocus
                                           required
                                           [(ngModel)]="user.password"
                                           #name="ngModel">
                                </div>
                            </div>
                          <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Photo_url</label>
                            <div class="col-md-6">
                              <input name="photo_url"type="text" id="photo_url" class="form-control" autofocus
                                     required
                                     [(ngModel)]="user.photo_url"
                                     #name="ngModel">
                            </div>
                          </div>
                            <div class="col-md-6 offset-md-4 text-center">
                                <button type="submit" class="btn btn-success">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
