<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <a class="navbar-brand">
        <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png" alt="Logo" style="width:40px;">
    </a>

    <ul class="navbar-nav col-12">
        <li class="nav-item col-8">
            <a class="nav-link" style="color: white;">
                {{ userService.name }}
            </a>
        </li>
        <li class="nav-item col-2">
            <a [routerLink]="'/my-account'" style="color: white;  text-decoration: none;">
                <img src="https://cdn2.iconfinder.com/data/icons/classic-development-circle/512/edit_user-512.png" alt="Logo" style="width:40px; color: grey;">
                Modify user
            </a>
        </li>
        <li class="nav-item col-2">
            <a [routerLink]="'/login'" style="color: white;  text-decoration: none;">
                <img src="https://cdn0.iconfinder.com/data/icons/web/512/e53-512.png" alt="Logo" style="width:40px; color: grey;">
                Log out
            </a>
        </li>
    </ul>
</nav>

<main style="margin-top: 5%; margin-left: 5%;">

    <div class="text-center card-body p-0" style="max-width: 100%;">
        <div class="p-0 m-0 row">

            <div>
                <nav class="p-0 text-center col light-blue" id="myItems">
                    <span class="p-2 dropdown-item-text important-color-font"><strong>CHANNELS</strong></span>
                  <ul style="list-style: none;">
                    <li  *ngFor="let channel of channels[0]">
                          {{ channel.id }}
                    </li>
                  </ul>
                    <div>
                        <a [routerLink]="'/channel'" style="color: white;  text-decoration: none;">
                            <img src="https://cdn3.iconfinder.com/data/icons/most-useful-icons-5/154/Most_Useful_icons_Mono_Blue_Background-36-512.png" alt="add_button" style="width:50px; color: grey;">
                        </a>

                        <a [routerLink]="'/my-channel'" style="color: white;  text-decoration: none;">
                            <img src="https://cdn3.iconfinder.com/data/icons/fez/512/FEZ-04-512.png" alt="setting_button" style="width:38px; color: grey;">
                        </a>
                    </div>
                </nav>
            </div>

            <div class="p-0 col-9 m-4">

                <ul class="list-group mb-5">
                    <li class="list-group-item text-left" *ngFor="let message of messages">
                        {{message}}
                    </li>
                </ul>

                <div class="fixed-bottom mb-3">
                    <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" class="col-lg-7 p-1" required autofocus/>
                    <button (click)="sendMessage()" class="p-1">
                        <img src="https://cdn0.iconfinder.com/data/icons/e-commerce-207/1022/paperplane-512.png" alt="setting_button" style="width:22px; color: grey;">
                    </button>
                </div>

            </div>

            <div>
                <nav class="p-0 text-center col light-blue" id="myItems">
                    <span class="p-2 dropdown-item-text important-color-font"><strong>MEMBERS</strong></span>
                    <span class="p-2 dropdown-item-text important-color-font"><strong>~~Online~~</strong></span>
                    <a class="p-2 dropdown-item casual-color-font">User X</a>
                    <a class="p-2 dropdown-item casual-color-font">User X</a>
                    <a class="p-2 dropdown-item casual-color-font">User X</a>
                    <a class="p-2 dropdown-item casual-color-font">User X</a>
                    <span class="p-2 dropdown-item-text important-color-font"><strong>~~Offline~~</strong></span>
                    <a class="p-2 dropdown-item casual-color-font"><s>User X</s></a>
                    <a class="p-2 dropdown-item casual-color-font"><s>User X</s></a>
                    <a class="p-2 dropdown-item casual-color-font"><s>User X</s></a>
                    <a class="p-2 dropdown-item casual-color-font"><s>User X</s></a>
                </nav>
            </div>

        </div>
    </div>
</main>
